.category{
    margin: auto;
    width: 85%;
    height: auto;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    font-size: 14px;
    padding-bottom: 50px;
    background-color: white;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  
}
.cat-1{
    line-height: 35px;
    width: 240px;
  margin-left: 10px;
}
.cat-2{
    line-height: 35px;
    width: 240px;
    padding: 0px 0px 10px 10px;
    background-color: #eaeaea;
}
.cat-3,.cat-4{
    line-height: 35px;
    width: 240px;
    padding: 0px 0px 10px 10px;
   
}
/* .cat-1 p{
    border-bottom: 0.5px solid rgb(204, 201, 201);
   
} */
.cat-1 p:hover{
    cursor: pointer;
    background-color:#eaeaea ;
}
.cat-2 p:hover{
    cursor: pointer;
    background-color:white ;
}
.cat-3 p:hover,.cat-4 p:hover{
    cursor: pointer;
    background-color:#eaeaea ;
}
.cat-4 p:nth-child(1){
    color: green;
    font-size: 16px;
}
