.navMin{
    
    width: 100%;
    height: auto;
    position: fixed;
    background-color: #689f38;
    z-index:50;

}
.navContent{
    width: 100%;
    display: flex;
   padding: 20px;
    justify-content: space-between;
}
.navContent :hover{
    cursor: pointer;
}
::placeholder{
    text-align: center;
    
}
