.navbar {
    margin: auto;
    width: 85%;
    height: auto;
    
}

.main {
    width: 100%;
    position: fixed;
    background-color: white;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

}

.box-1 {
    display: flex;
    gap: 20px;
    font-size: 14px;
    width: auto;
    justify-content: flex-end;
    color: #777474;
}

.box-1 div:hover {
    cursor: pointer;

}

.box-2 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    align-items: center;
}

.box-3 {
    display: flex;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

}

.offers {
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.offers:hover {
    cursor: pointer;
    background-color: #5c9408;
    color: white;
}