.cart_window{
    width: 80% !important;
    margin: auto;
} 

.cart_table_header{
    background-color: gray;
}

.Cart_table_row{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.cart_card{
    /* border: 1px solid red; */
    grid-row: 1/4;
    grid-column: 2/3;
    display:  grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr 1fr 2fr 1fr 2fr 1fr;
    padding: 0.7rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.continueShoppingButton{
    /* display: block; */
}

.cartTableHeadings{
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

.cart_total_card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;

}


.cart_box1_button1{

    grid-row: 1/2;
}

.cart_box1_button2{

    grid-row: 3/4;
}

.cart_card_subtotal_Text{
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: start;
    font-size: 1.rem;
    color: green;
    font-weight: 600;
}
.cart_card_subtotal{
    grid-row: 1/2;
    grid-column: 3/4;
    font-weight: 600;

}
.cart_card_DeliveryCost{
    grid-row:2/3 ;
    grid-column:1/2 ;
    text-align: start;
    font-size: 1.rem;
    color: green;
    font-weight: 600;
}
.cart_card_Delivery{
    grid-row: 2/3;
    grid-column: 3/4;
    font-weight: 600;

}
.cart_card_Total_text{
    grid-row:3/4 ;
    grid-column:1/2 ;
    text-align: start;
    font-size: 1.rem;
    color: green;
    font-weight: 600;
}
.cart_card_Total{
    grid-row:3/4 ;
    grid-column:3/4 ;
    font-weight: 600;

}
.cart_card_copon_text{
    grid-row:4/5 ;
    grid-column:1/4 ;
    text-align: start;
}
.cart_card_CheckoutButton{
    grid-row:5/6 ;
    grid-column:3/5 ;
}
.cart_card_TC{
    grid-row: 6/7;
    grid-column: 1/4;
    text-align: start;
    color: green;

}

