
.Checkout{
    margin: auto;
    width: 80%;
    
}
.fake{
    width: 100%;
    height: 110px;
    margin-bottom: 20px;
}
.Allbody{
    display: flex;
    gap: 25px;
}
.leftside{
    display: block;
    
}
.AddressBoxbig{
    border: 1px solid grey;
    width: 850px;
    height: fit-content;
    margin-bottom: 15px; 
    display: flex;
}

.AddressBoxsmall{
    border: 1px solid grey;
    width: 850px;
    height: fit-content;
    margin-bottom: 15px;  
    
}
.addresscard{
    width: 300px;
    border: 1px solid red;
}
.delivery{
    border: 1px solid grey;
    width: 850px;
    height: fit-content;
    margin-bottom: 15px;
}
.paymentbox{
 
    width: 850px;
    height: fit-content;
    margin-bottom: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    background-color: rgb(253, 247, 238);
}

 @media only screen and (max-width: 1200px) {
.Checkout{
    margin: auto;
    width: 80%;
}
.fake{
    width: 100%;
    height: 110px;
    margin-bottom: 20px;
}
.Allbody{
    display: block;
    gap: 25px;
}
.AddressBox{
    border: 1px solid grey;
    width: 650px;
    height: fit-content;
    display: block;

}
.delivery{
    border: 1px solid grey;
    width: 650px;
    height: fit-content;
    margin-bottom: 15px;
    
}
.payment{
    border: 1px solid grey;
    width: 650px;
    height: fit-content;
    margin-bottom: 15px;
}
.paymentbox{
 
    width: 650px;
    height: fit-content;
    margin-bottom: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    background-color: rgb(253, 247, 238);
}
.AddressBoxbig{
    border: 1px solid grey;
    width: 650px;
    height: fit-content;
    margin-bottom: 15px; 
    display: block;
}
.AddressBoxsmall{
    border: 1px solid grey;
    width: 650px;
    height: fit-content;
    margin-bottom: 15px;  
}
.addresscard{
    width: 100px;
    border: 1px solid grey;
}

}

@media only screen and (max-width: 420px) {
    .Allbody{
        display: block;
        gap: 25px;
    }
    .Checkout{
        margin: auto;
        width: 80%;
    }
    .fake{
        width: 100%;
        height: 110px;
        margin-bottom: 20px;
    }
    .Allbody{
        display: block;
        gap: 25px;
    }
    .AddressBox{
        border: 1px solid grey;
        width: 340px;
        height: fit-content;
        display: block;
    
    }
    
    .payment{
        border: 1px solid grey;
        width: 340px;
        height: fit-content;
        margin-bottom: 15px;
    }
    .paymentbox{
     
        width: 340px;
        height: fit-content;
        margin-bottom: 15px;
        margin-bottom: 15px;
        padding-bottom: 15px;
        background-color: rgb(253, 247, 238);
    }
    .AddressBoxbig{
        border: 1px solid grey;
        width: 340px;
        height: fit-content;
        margin-bottom: 15px; 
        display: block;
        overflow: scroll;
    }
    .AddressBoxsmall{
        border: 1px solid grey;
        width: 340px;
        height: fit-content;
        margin-bottom: 15px; 
        display: block; 
    }
    .addresscard{
        width: 100px;
        border: 1px solid grey;
    }
    .leftside{
        display: block;
    }
    
}